@import "../../assets/styles/style";

//TODO

.window {
  display: flex;
  border: 2px solid $mainDarkPurple;
  border-radius: 5px;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  position: relative;
}

.title {
  position: absolute;
  font-size: .8rem;
  background-color: $mainPurple;
  top: -15%;
  left: 10%;
  padding: 0 .5rem;
}

.text {
  width: 100%;
  color: $mainDarkPurple
}

.wrapper {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.select {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

}

.user {
  flex-grow: 1;
}

.numberInput {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  border: 2px solid $mainDarkPurple;
  border-radius: 5px;
}

.dropdown {
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  position: absolute;
  z-index: 1;
  max-height: 600%;
  overflow-y: scroll;
  border: 2px solid $mainDarkPurple;
}

.employeeItem {
  padding: 1rem;
  cursor: pointer;
}

.employeeItem:hover {
  background-color: $mainDarkPurple;
  color: #fff;
}

.open {
  border-radius: 5px 5px 0 0;
}
